include Makefile.py
include CHANGES.txt
include LICENSE.txt
include README.txt
include TODO.txt
include CONTRIBUTORS.txt
include test/api.doctests
recursive-include test/tm-cases *.text *.html *.opts *.tags
